.calibre {
    display: block;
    font-size: 0.83333em;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    display: block;
    font-size: 2.4em;
    line-height: 1.2;
    margin: 0.5em
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: none;
    font-size: 1.55em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.calibre4 {
    color: #d34052;
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.8em;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.5em
    }
.calibre5 {
    color: black;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    margin: 0.5em 0
    }
.calibre7 {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.calibre8 {
    display: block;
    margin: 1em 1em 0
    }
.calibre9 {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.calibre10 {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0
    }
.calibre11 {
    display: block;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.calibre12 {
    display: block;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.calibre13 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800
    }
.calibre14 {
    font-size: 1em;
    line-height: normal;
    margin-left: 0.1em;
    margin-right: 0.1em;
    vertical-align: super
    }
.calibre15 {
    display: block;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.calibre16 {
    color: #d34052;
    display: block;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre17 {
    color: #495492;
    display: block;
    font-size: 1.55em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1.8em 0 1.2em
    }
.calibre18 {
    display: block;
    margin: 2em 1em 0
    }
.calibre19 {
    display: block;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.calibre20 {
    height: auto;
    width: 80%;
    margin: 0;
    padding: 0
    }
.calibre21 {
    display: block;
    font-family: heiti;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.calibre22 {
    display: block;
    font-size: 1.55em;
    font-weight: 800;
    line-height: 1.2;
    text-align: left;
    text-indent: 2em;
    margin: 1.2em 0 1em
    }
.calibre23 {
    display: none;
    font-size: 1.55em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.center {
    display: block;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.center1 {
    display: block;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0.5em
    }
.chatu {
    display: block;
    font-family: songti;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center
    }
.chubanshe {
    display: block;
    font-family: fzlth;
    font-size: 1em;
    margin-top: 5em;
    text-align: center;
    width: 100%
    }
.dualline {
    display: block;
    margin: 2em 0.5em;
    border-top: #000 double 3px;
    border-bottom: #000 double 3px;
    padding: 0.5em
    }
.fnote {
    display: block;
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em;
    border-top: gray solid 1px
    }
.fnote1 {
    display: block;
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-top: 0;
    text-align: justify;
    text-indent: 2em;
    border-top: currentColor none 0
    }
.fubiao-center {
    display: block;
    font-size: 1.55em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.hidden {
    color: #d34052;
    display: none;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.8em;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.italic {
    font-style: italic
    }
.juzhong {
    display: block;
    padding: 36% 5% 45%
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.55em;
    line-height: 1.2;
    text-indent: 0
    }
.kaiti1 {
    display: block;
    font-family: kaiti;
    margin-top: 1.5em
    }
.kaiti2 {
    display: block;
    font-family: kaiti
    }
.kaiti3 {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.kaiti4 {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0.5em
    }
.kaiti5 {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.kaiti6 {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.kaiti7 {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.kt-lk {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: right;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 1.3em;
    padding: 0 1em
    }
.noindent {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.pink-bj {
    background-color: #f8c488;
    display: block;
    font-size: 0.83333em;
    margin: 0 5pt;
    padding: 0
    }
.right {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.right1 {
    display: block;
    font-family: kaiti;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.sgc-toc-level {
    display: block;
    font-family: heiti;
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0
    }
.sgc-toc-level1 {
    display: block;
    font-family: fzlth;
    font-size: 0.83333em;
    font-weight: normal;
    margin: 0.5em 1em
    }
.shuming {
    display: block;
    font-family: songti;
    padding-top: 30%;
    text-align: center;
    text-indent: 0
    }
.xiao {
    font-size: 0.775em;
    line-height: 1.8em;
    margin-top: 1em;
    text-indent: 0
    }
